<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>TechYourSpace</title>
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/business-frontpage.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-white">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="img/logo.png" />
				</a>
				<form class="form-inline mr-auto">
					<div class="input-group">
						<button class="btn btn-outline-dark search-btn border border-right-0" type="button">
							<i class="fa fa-search"></i>
						</button>
						<input type="text" class="form-control search-form border border-left-0" placeholder="Search Products">
					</div>
				</form>
				<div class="d-none d-sm-block">
					<img src="img/icon-fb.png" />
					<img src="img/icon-ig.png" />
					<img src="img/icon-linkedin.png" />
					<img src="img/icon-tw.png" />
				</div>
			</div>
		</nav>
		<div class="navbar navbar-expand-lg bg-white">
			<div class="container">
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav mr-auto">
						<li class="dropdown menu-large nav-item" style="font-family: SegoePrint;"> <a href="#" class="nav-link font-weight-bold" data-toggle="dropdown">TechBlog</a>
							<ul class="dropdown-menu megamenu" style="font-family: AvenirRegular;">
								<div class="row">
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourHome</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourOffice</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechElderCare</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourBot</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="about.html" class="nav-link">About</a>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="joinus.html" class="nav-link">Join Us</a>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="contact.html" class="nav-link">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 breadcrumb-text">
					Home >> TechYourHome >> Living
				</div>
			</div>
		</div>
		<header class="techyourhome-living-header">
			<div class="container">
				<div class="row">
				    <div class="col-lg-12">
						<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse2">☰</button>
						<div class="row">
							<div class="navbar-collapse2 menusub col-lg-4">
								<ul class="nav navbar-nav mr-auto">
									<li class="dropdown menu-large nav-item"><b>Product Type</b></li>
									<li class="dropdown menu-large nav-item nav-item-sub menusub-active"><a href="techyourhome-living-controlsystem.html" class="text-dark">Control System</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Motion Sensor</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Door/Window Sensor</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Robotic Vacuum Cleaner</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Scale</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Trolley Bag</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Activity Tracker</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Pet Feeder</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Cup</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Robot Companion</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Thermostat</a></li>
								</ul>
							</div>
							<div class="navbar-collapse2 col-lg-8" style="background-color:#fff; padding:50px;">
								<div id="brand">
									<div class="row card-title">
										>> Brands
									</div>
									<div class="row">
										<div class="row text-center text-lg-left">
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-6">
											  <a href="#" class="d-block mb-4 h-100" onclick="myFunction()">
												<img class="img-fluid" src="img/brand.png" alt="">
											  </a>
											</div>
										  </div>
									</div>
								</div>
								<div id="detail" style="display:none;">
									<div class="row card-title">
										>> Brand A
									</div>
									<div class="row">
										<div class="col-md-5">
											<div id="slider">
												<div id="myCarousel" class="carousel slide">
													<!-- main slider carousel items -->
													<div class="carousel-inner">
														<div class="active item carousel-item" data-slide-number="0">
															<img src="img/produk1.png" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="1">
															<img src="http://placehold.it/314x216&amp;text=image 2" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="2">
															<img src="http://placehold.it/314x216&amp;text=image 3" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="3">
															<img src="http://placehold.it/314x216&amp;text=image 4" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="4">
															<img src="http://placehold.it/314x216&amp;text=image 5" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="5">
															<img src="http://placehold.it/314x216&amp;text=image 6" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="6">
															<img src="http://placehold.it/314x216&amp;text=image 7" class="img-fluid">
														</div>
														<div class="item carousel-item" data-slide-number="7">
															<img src="http://placehold.it/314x216&amp;text=image 8" class="img-fluid">
														</div>
														<!-- <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
														<a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a> -->
													</div>
													<!-- main slider carousel nav controls -->
													<ul class="carousel-indicators">
														<li class="list-inline-item active">
															<a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
																<img src="img/produk1.png" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 2" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 3" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 4" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 5" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 6" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 7" class="img-fluid">
															</a>
														</li>
														<li class="list-inline-item">
															<a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
																<img src="http://placehold.it/280x220&amp;text=image 8" class="img-fluid">
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<p>Brand A</p>
											<p>
												Brand A is product lorem ipsum dolor sit diamet lorem ipsum dolor sit diamet 
											</p>
											<p>Other product type from Brand A</p>
											<div class="carousel slide text-center" id="myCarousel" data-ride="carousel">
												<div class="carousel-inner">
													<div class="carousel-item active">
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/bbb/fff&amp;text=1" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/bbb/fff&amp;text=2" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/bbb/fff&amp;text=3" class="img-fluid"></a></div>
													</div>
													<div class="carousel-item">
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/ccc?text=4" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/ccc?text=5" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/ccc?text=6" class="img-fluid"></a></div>
													</div>
													<div class="carousel-item">
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/999/fff?text=7" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/999/fff?text=8" class="img-fluid"></a></div>
														<div class="col-md-4 float-left"><a href="techyourhome-living-controlsystem.html"><img src="http://placehold.it/500/999/fff?text=9" class="img-fluid"></a></div>
													</div>
												</div>
												<!-- <a class="left carousel-control mt-3 p-4" href="#myCarousel" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a>
												<a class="right carousel-control mt-3 p-4" href="#myCarousel" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> -->
											</div>
										</div>
										<div class="col-md-2">
											<div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2000">
												<div class="carousel-inner">
													<div class="carousel-item active">
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
													</div>
													<div class="carousel-item">
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
														<div class="col carousel-distance">
															<img class="d-block mx-auto img-fluid" src="img/brand.png" alt="Third slide">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
		    <div class="row">
				<div class="col-md-12 ">
					<nav>
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Product Details</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Where to get?</a>
							<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Product Review</a>
							<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Enquiry</a>
						</div>
					</nav>
					<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="row">
								<div class="col-md-4">
									<img src="img/produk1.png" class="img-fluid">
								</div>
								<div class="col-md-8">
									<div class="breadcrumb-text">
										Living >> Control System
									</div>
									<div class="form-group">
										<b>Control System</b>
									</div>										
									<div>
										Features<br/>
										Your thermostat controls half your energy bill – more than appliances, more than electronics. So shouldn't 
										it help you save energy?
										<br/><br/>
										Meet the Nest Temperature Sensor.
										<br/><br/>
										Technical Specification<br/>
										Compatibility: The Nest Learning Thermostat works with 95% of 24V heating and cooling systems, including 
										gas, electric, forced air, heat pump, radiant, oil, hot water, solar and geothermal.
										<br/><br/>
										Heating: 1,2, and 3 stages (W1,W2,W3)<br/>
										Cooling: 1 and 2 stages (Y1,Y2)<br/>
										Heat pump: with auxiliary and emergency heat (O/B, AUX, E)<br/>
										Humidifier or dehumidifier (HUM, DEHUM)<br/>
										FAN (G)<br/>
										Power (C, RH, RC)
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="row">
								<div class="col-md-12">
									<div class="breadcrumb-text">
										Living >> Control System
									</div>
									<div class="form-group">
										<b>Control System</b><br>
									</div>
									<p>Supplier <span class="badge badge-dark">1</span></p>
									<div class="row">
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_supplier_logo.jpg">
											<p>
												Garmin<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
									</div>
									<br/>
									<p>Physical Stores <span class="badge badge-dark">6</span></p>
									<div class="row">
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo.jpg">
											<p>
												Fitbit<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo2.jpg">
											<p>
												KUKA<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo3.jpg">
											<p>
												Alexa<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo.jpg">
											<p>
												Fitbit<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo2.jpg">
											<p>
												KUKA<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
										<div class="col-md-2 text-center">
											<img class="d-block mx-auto img-fluid" src="img/living_wheretoget_physicalstore_logo3.jpg">
											<p>
												Alexa<br/>
												Singapore<br/>
												65 2367 876<br/>
												www.garmin.com
											</p>
											<div class="d-none d-sm-block">
												<img src="img/icon-fb.png" />
												<img src="img/icon-ig.png" />
												<img src="img/icon-linkedin.png" />
												<img src="img/icon-tw.png" />
											</div>
										</div>
									</div>
									<br/>
									<p>Online Stores <span class="badge badge-dark">2</span></p>
									<div class="row">
										<div class="col-md-2 text-center">
											<p>
												www.amazon.com<br/>
												www.ebay.com
											</p>
										</div>
									</div>
									<br/>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							<div class="row">
								<div class="col-md-12">
									<div class="breadcrumb-text">
										Living >> Control System
									</div>
									<div class="form-group">
										<b>Control System</b><br>
									</div>
									<p>
										What’s Good:<br/>This product good for tracking your health
									</p>
									<p>
										What’s Bad:<br/>This product isn’t suggested for elder people
									</p>
									<p>
										Bottom-Line:<br/>Overall 5.0 star and very recommended product
									</p>
									<div class="star-rating">
										<span class="fa fa-star-o" data-rating="1"></span>
										<span class="fa fa-star-o" data-rating="2"></span>
										<span class="fa fa-star-o" data-rating="3"></span>
										<span class="fa fa-star-o" data-rating="4"></span>
										<span class="fa fa-star-o" data-rating="5"></span>
										<input type="hidden" name="whatever1" class="rating-value" value="5">
									</div>
									<p>
										About the product:
										Performance<br/>Since made by steel lorem ipsum sit diamet
									</p>
									<p>
										Convenience<br/>Very Convenient to hold
									</p>
									<p>
										How smart is it?<br/>Since giving you solution for tracking sleep, blood, heart rate
									</p>
									<p>
										Warranty Support<br/>With 2 years guaranteed and service support
									</p>
									<p>
										Summary<br/>If you think you had a problem about your body, used this product..
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
							<div class="row">
								<div class="col-md-12">
									<div class="breadcrumb-text">
										Living >> Control System
									</div>
									<div class="form-group">
										<b>Control System</b><br>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span style="font-family:SegoePrint;">Ask For Anything | </span>
											Don't hesitate to share feedback
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="txtName" placeholder="Name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="txtEmail" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="txtSubject" placeholder="Subject">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="txtPhone" placeholder="Phone">
										</div>
										<div class="form-group">
											<textarea class="form-control" rows="3" id="txtMessage" placeholder="Message"></textarea>
										</div>
										<button class="btn btn-outline-dark send-btn border subs-btn" type="button">
											Send
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<div class="navbar navbar-expand-lg bg-light text-center" style="padding:15px;">
			<div class="col-sm-6 subs-text">
				Get the latest news and don't miss any updates 
			</div>
			<div class="col-sm-6 text-left">
				<form class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control search-btn border border-right-0" placeholder="Type your email here">
						<button class="btn btn-outline-dark search-form border border-left-0 subs-btn" type="button">
							Subscribe
						</button>
					</div>
				</form>
			</div>
		</div>
		<footer class="py-5 bg-white font-footer">			
			<div class="container">
				<div class="row">
					<div class="col-sm-4 subs-text-left">
						<div>
							<a href="about.html" class="text-dark">About Us</a> | 
							<a href="careers.html" class="text-dark">Careers</a> | 
							<a href="contact.html" class="text-dark">Contact</a> | 
							<a href="techyourblog.html" class="text-dark">Blog</a>
						</div>
					</div>
					<div class="col-sm-4 subs-text-center">
						<div>
							Let's Connect!
						</div>
						<div class="d-sm-block">
							<img src="img/icon-fb.png" />
							<img src="img/icon-ig.png" />
							<img src="img/icon-linkedin.png" />
							<img src="img/icon-tw.png" />
						</div>
					</div>
					<div class="col-sm-4 subs-text-right">
						<i class="fa fa-envelope div-fa text-center"></i> hello.digipasar.com<br/>
						<i class="fa fa-map-marker div-fa text-center" style="font-size:22px;"></i> 73 Syed Alwi Road,<br/>
						<i class="fa div-fa"></i> Singapore 207652
					</div>
					<div class="subs-text-left col-sm-12 col-md-4">
						Copyright 2018. All rights reserved.
					</div>
				</div>
			</div>
		</footer>
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/menu-dropdown.js"></script>	
		<script src="js/video.js"></script>	
		<script src="js/star-rating.js"></script>
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("detail");
				if (x.style.display === "none") {
					x.style.display = "block";
					document.getElementById("brand").style.display = "none";
				} else {
					x.style.display = "none";
					document.getElementById("brand").style.display = "block";
				}
			}
		</script>
		<script>
			$('#myCarousel').carousel({
			  interval: 3000
			})

			$('.carousel .carousel-item').each(function(){
			  var next = $(this).next();
			  if (!next.length) {
				next = $(this).siblings(':first');
			  }
			  next.children(':first-child').clone().appendTo($(this));
			  
			  if (next.next().length>0) {
				next.next().children(':first-child').clone().appendTo($(this));
			  }
			  else {
				$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
			  }
			});
		</script>
	</body>
</html>
