<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>TechYourSpace</title>
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/business-frontpage.css" rel="stylesheet">
		<script src="js/ios-orientationchange-fix.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-white">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="img/logo.png" />
				</a>
				<form class="form-inline mr-auto">
					<div class="input-group">
						<button class="btn btn-outline-dark search-btn border border-right-0" type="button">
							<i class="fa fa-search"></i>
						</button>
						<input type="text" class="form-control search-form border border-left-0" placeholder="Search Products">
					</div>
				</form>
				<div class="d-none d-sm-block">
					<img src="img/icon-fb.png" />
					<img src="img/icon-ig.png" />
					<img src="img/icon-linkedin.png" />
					<img src="img/icon-tw.png" />
				</div>
			</div>
		</nav>
		<div class="navbar navbar-expand-lg bg-white">
			<div class="container">
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav mr-auto">
						<li class="dropdown menu-large nav-item" style="font-family: SegoePrint;"> <a href="#" class="nav-link font-weight-bold" data-toggle="dropdown">TechBlog</a>
							<ul class="dropdown-menu megamenu" style="font-family: AvenirRegular;">
								<div class="row">
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">RestRoom</li>
											<li><a href="#">Menu RestRoom 1</a></li>
											<li><a href="#">Menu RestRoom 2</a></li>
											<li><a href="#">Menu RestRoom 3</a></li>
											<li><a href="#">Menu RestRoom 4</a></li>
											<li><a href="#">Menu RestRoom 5</a></li>
											<li><a href="#">Menu RestRoom 6</a></li>
											<li><a href="#">Menu RestRoom 7</a></li>
											<li><a href="#">Menu RestRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Garden</li>
											<li><a href="#">Menu Garden 1</a></li>
											<li><a href="#">Menu Garden 2</a></li>
											<li><a href="#">Menu Garden 3</a></li>
											<li><a href="#">Menu Garden 4</a></li>
											<li><a href="#">Menu Garden 5</a></li>
											<li><a href="#">Menu Garden 6</a></li>
											<li><a href="#">Menu Garden 7</a></li>
											<li><a href="#">Menu Garden 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourHome</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourOffice</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechElderCare</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> <a href="#" class="nav-link" data-toggle="dropdown">TechYourBot</a>
							<ul class="dropdown-menu megamenu">
								<div class="row">
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header font-bold"><a href="techyourhome-living.html">Living</a></li>
											<li><a href="#">Product Type</a></li>
											<li><a href="#">Control System</a></li>
											<li><a href="#">Motion Sensor</a></li>
											<li><a href="#">Door/Window Sensor</a></li>
											<li><a href="#">Robotic Vacuum Cleaner</a></li>
											<li><a href="#">Smart Scale</a></li>
											<li><a href="#">Smart Trolley Bag</a></li>
											<li><a href="#">Activity Tracker</a></li>
											<li><a href="#">Pet Feeder</a></li>
											<li><a href="#">Smart Cup</a></li>
											<li><a href="#">Robot Companion</a></li>
											<li><a href="#">Smart Thermostat</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Kitchen</li>
											<li><a href="#">Menu Kitchen 1</a></li>
											<li><a href="#">Menu Kitchen 2</a></li>
											<li><a href="#">Menu Kitchen 3</a></li>
											<li><a href="#">Menu Kitchen 4</a></li>
											<li><a href="#">Menu Kitchen 5</a></li>
											<li><a href="#">Menu Kitchen 6</a></li>
											<li><a href="#">Menu Kitchen 7</a></li>
											<li><a href="#">Menu Kitchen 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">Lobby</li>
											<li><a href="#">Menu Lobby 1</a></li>
											<li><a href="#">Menu Lobby 2</a></li>
											<li><a href="#">Menu Lobby 3</a></li>
											<li><a href="#">Menu Lobby 4</a></li>
											<li><a href="#">Menu Lobby 5</a></li>
											<li><a href="#">Menu Lobby 6</a></li>
											<li><a href="#">Menu Lobby 7</a></li>
											<li><a href="#">Menu Lobby 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">BedRoom</li>
											<li><a href="#">Menu BedRoom 1</a></li>
											<li><a href="#">Menu BedRoom 2</a></li>
											<li><a href="#">Menu BedRoom 3</a></li>
											<li><a href="#">Menu BedRoom 4</a></li>
											<li><a href="#">Menu BedRoom 5</a></li>
											<li><a href="#">Menu BedRoom 6</a></li>
											<li><a href="#">Menu BedRoom 7</a></li>
											<li><a href="#">Menu BedRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">KidsRoom</li>
											<li><a href="#">Menu KidsRoom 1</a></li>
											<li><a href="#">Menu KidsRoom 2</a></li>
											<li><a href="#">Menu KidsRoom 3</a></li>
											<li><a href="#">Menu KidsRoom 4</a></li>
											<li><a href="#">Menu KidsRoom 5</a></li>
											<li><a href="#">Menu KidsRoom 6</a></li>
											<li><a href="#">Menu KidsRoom 7</a></li>
											<li><a href="#">Menu KidsRoom 8</a></li>
										</ul>
									</li>
									<li class="col-md-2 dropdown-item">
										<ul>
											<li class="dropdown-header">PetsRoom</li>
											<li><a href="#">Menu PetsRoom 1</a></li>
											<li><a href="#">Menu PetsRoom 2</a></li>
											<li><a href="#">Menu PetsRoom 3</a></li>
											<li><a href="#">Menu PetsRoom 4</a></li>
											<li><a href="#">Menu PetsRoom 5</a></li>
											<li><a href="#">Menu PetsRoom 6</a></li>
											<li><a href="#">Menu PetsRoom 7</a></li>
											<li><a href="#">Menu PetsRoom 8</a></li>
										</ul>
									</li>
								</div>
							</ul>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="about.html" class="nav-link">About</a>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="joinus.html" class="nav-link">Join Us</a>
						</li>
						<li class="dropdown menu-large nav-item"> 
							<a href="contact.html" class="nav-link">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 breadcrumb-text">
					Home >> TechYourHome >> Living
				</div>
			</div>
		</div>
		<header>
			<div class="container">
				<img src="img/Living_banner_with_home_appliances.jpg" width="1280" usemap="#powerpuffgirls" alt="" />
				<map name="powerpuffgirls">
					<area shape="poly" coords="927,111,918,115,915,124,919,131,927,134,935,131,938,123,936,116" href="techyourhome-living-controlsystem.html" title="a1" />
					<area shape="poly" coords="749,240,740,243,736,251,738,258,742,263,750,263,756,259,757,251,756,245" href="techyourhome-living-controlsystem.html" title="a2" />
					<area shape="poly" coords="349,318,341,322,336,328,336,336,341,340,348,342,354,339,357,332,356,326" href="techyourhome-living-controlsystem.html" title="a3" />
					<area shape="poly" coords="292,445,285,451,284,461,288,466,296,467,302,465,306,460,305,453,303,449,298,446" href="techyourhome-living-controlsystem.html" title="a4" />
					<area shape="poly" coords="962,356,953,361,950,372,953,377,960,380,968,380,971,374,973,367,970,362" href="techyourhome-living-controlsystem.html" title="a5" />
					<area shape="poly" coords="842,494,833,500,832,509,836,516,844,517,851,513,853,505,851,500" href="techyourhome-living-controlsystem.html" title="a6" />
					<area shape="poly" coords="872,547,864,551,861,561,866,568,873,571,879,568,881,560,880,552" href="techyourhome-living-controlsystem.html" title="a7" />
					<area shape="poly" coords="1139,541,1130,545,1126,555,1130,561,1133,566,1143,564,1147,559,1149,550,1147,545" href="techyourhome-living-controlsystem.html" title="a8" />	
					<area shape="poly" coords="821,419,812,425,808,432,812,440,820,444,827,441,830,433,828,426" href="techyourhome-living-controlsystem.html" title="a9" />
				</map>
				<div class="row text-left-top">
				    <div class="col-lg-12">
						<!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse2" onclick="myFunction()">☰</button><button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse2" onclick="myFunction()">☰</button> -->
						<div class="row">
							<div class="navbar-collapse2 collapse menusub col-lg-4">
								<ul class="nav navbar-nav mr-auto">
									<li class="dropdown menu-large nav-item"><b>Product Type</b></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="techyourhome-living-controlsystem.html">Control System</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Motion Sensor</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Door/Window Sensor</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Robotic Vacuum Cleaner</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Scale</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Trolley Bag</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Activity Tracker</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Pet Feeder</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Cup</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Robot Companion</a></li>
									<li class="dropdown menu-large nav-item nav-item-sub"><a href="#">Smart Thermostat</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
		    
		</div>
		<div class="navbar navbar-expand-lg bg-light text-center" style="padding:15px;">
			<div class="col-sm-6 subs-text">
				Get the latest news and don't miss any updates 
			</div>
			<div class="col-sm-6 text-left">
				<form class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control search-btn border border-right-0" placeholder="Type your email here">
						<button class="btn btn-outline-dark search-form border border-left-0 subs-btn" type="button">
							Subscribe
						</button>
					</div>
				</form>
			</div>
		</div>
		<footer class="py-5 bg-white font-footer">			
			<div class="container">
				<div class="row">
					<div class="col-sm-4 subs-text-left">
						<div>
							<a href="about.html" class="text-dark">About Us</a> | 
							<a href="careers.html" class="text-dark">Careers</a> | 
							<a href="contact.html" class="text-dark">Contact</a> | 
							<a href="techyourblog.html" class="text-dark">Blog</a>
						</div>
					</div>
					<div class="col-sm-4 subs-text-center">
						<div>
							Let's Connect!
						</div>
						<div class="d-sm-block">
							<img src="img/icon-fb.png" />
							<img src="img/icon-ig.png" />
							<img src="img/icon-linkedin.png" />
							<img src="img/icon-tw.png" />
						</div>
					</div>
					<div class="col-sm-4 subs-text-right">
						<i class="fa fa-envelope div-fa text-center"></i> hello.digipasar.com<br/>
						<i class="fa fa-map-marker div-fa text-center" style="font-size:22px;"></i> 73 Syed Alwi Road,<br/>
						<i class="fa div-fa"></i> Singapore 207652
					</div>
					<div class="subs-text-left col-sm-12 col-md-4">
						Copyright 2018. All rights reserved.
					</div>
				</div>
			</div>
		</footer>
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/menu-dropdown.js"></script>	
		<script src="js/video.js"></script>	
		<script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("desc-sub");
				if (x.style.display === "none") {
					x.style.display = "block";
				} else {
					x.style.display = "none";
				}
			}
		</script>
		<script src="js/jquery.rwdImageMaps.min.js"></script>
		<script>
		$(document).ready(function(e) {
			$('img[usemap]').rwdImageMaps();
			
			$('area').on('click', function() {
				var x = document.getElementById("desc-sub");
				if (x.style.display === "none") {
					x.style.display = "block";
				} else {
					x.style.display = "none";
				}
			});
			
			/*$('area').on('click', function() {
				alert($(this).attr('alt') + ' clicked');
			});*/
		});
		</script>
	</body>
</html>
